.cardStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
}

.cardinteriors {
  padding: 50px;
}
.approvalRating {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.commonFonts {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svgstyling {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.lineWrapper {
  display: flex;
  flex-direction: row;
}
