.outerDiv {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textStyle {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
