.cardStyling {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 300px;
  width: 300px;
  justify-content: center;
}

.artistName {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 1000;
}

.songName {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.songNameSection {
  display: flex;
  flex-direction: row;
}

.trackSvg {
  margin-right: 10px;
}

.albumsvg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.buttonStyling {
  background-color: black;
  color: white;
}

.buttonWrapper {
  margin-top: 10px;
}

.linkStyle {
  text-decoration: none;
}
