.outerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countryText {
  font-size: 20px;
  font-weight: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
