.headingStyling {
  font-size: 20px;
  font-weight: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardStyling {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  align-items: center;
}
