.outerDiv {
  margin-top: 50px;
}

.header {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-left: 40px;
}

.lyricsWrapper {
  display: flex;
  margin: 30px 40px 30px 40px;
  font-size: 18px;
}
